*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;

  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* NAVIGATION STYLING */

.main-navigation {
  padding: 15px 6%;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: 60px;
}

.site-navigation li:nth-child(3) {
  margin-left: 60px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a.nav-link-active  {
  color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(129, 179, 210, 0.3);
}

.site-navigation a.nav-link-active  {
  color: #766357;
  cursor: default;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 138px;
  height: 70px;
  margin: auto;
  z-index: 1;
}

/* INDEX STYLING */

.intro {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #627a9c;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../img/bg-mask.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro img {
  width: 458px;
}

.features,
.booking  {
  text-align: center;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 53px;
}

.feature-item-container {
  width: 50%;
}

.feature-item-title h2 {
  margin: 0;
  margin-bottom: 30px;
}

.feature-item-title p {
  margin: 0;
}

.feature-item h2,
.feature-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.feature-item-main {
  height: 256px;
  overflow: hidden;

  background-color: #81b3d2;
}

.feature-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.333%;
  height: 100%;
  padding: 20px 4%;

  color: #ffffff;
}

.feature-item-description h3{
  padding: 0 45px;
  color: #ffffff;
}

.feature-item-img {
  width: 66.666%;
}

.feature-img  {
  display: block;
  width: 100%;

  background-color: #ffc4b0;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0 60px;
  min-height: 330px;
}

.offers-item {
  width: 33%;
  padding: 0 50px;
}

.offers-item h3::before {
  content: "";

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 25px;

  background-repeat: no-repeat;
}

.offers-item-house h3::before {
  width: 75px;
  height: 76px;

  background-image: url("../img/icon-1.svg");
}

.offers-item-food h3::before {
  width: 74px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
}

.offers-item-souvenirs h3::before {
  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");
}

.other-features {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ededee;
}

.other-feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  padding: 25px 60px 46px;
}

.other-feature-item h3 {
  padding: 0 60px;
}

.booking-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 292px;
}

.booking-search h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.booking-search p {
  margin: 0;
}

.booking-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 568px;
  height: 86px;
  margin-top: 50px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.booking-search-btn:hover,
.booking-search-btn:focus {
  background-color: #604e43;
}

.booking-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-form-booking {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 568px;
  min-height: 395px;
  margin: auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.form-booking-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-booking-item label,
.form-booking-item input {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.form-booking-item input {
  background-color: #f2f2f2;
  border: none;
}

.form-booking-item input:hover {
  background-color: #ebebeb;
}

.form-booking-item input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.booking-item-date {
  position: relative;
}

.booking-item-date input {
  padding-left: 15px;
  padding-right: 35px;

  width: 346px;
  height: 38px;
}

.booking-date-picker {
  position: absolute;
  right: 8px;
  top: 8px;

  fill: #cacaca;

  cursor: pointer;
}

.booking-date-picker:hover,
.booking-date-picker:focus {
  fill: #000000;
}

.booking-date-picker:active {
  fill: #81b3d2;
}

.booking-item-guests {
  margin-bottom: 55px;
}

.booking-adults-wrapper,
.booking-kids-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-item-guests input {
  width: 38px;
  height: 38px;

  text-align: center;
}

.booking-adults-wrapper label {
  margin-right: 40px;
}

.booking-kids-wrapper label {
  margin-right: 25px;
}

.booking-item-guests button {
  position: relative;

  width: 38px;
  height: 38px;

  text-align: center;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}

.booking-less-btn::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a8a8a8;
}

.booking-more-btn::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a8a8a8;
}

.booking-more-btn::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a8a8a8;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.booking-less-btn:hover::after,
.booking-less-btn:focus::after,
.booking-more-btn:hover::after,
.booking-more-btn:hover::before {
  background-color: #000000;
}

.booking-less-btn:active::after,
.booking-more-btn:active::after,
.booking-more-btn:active::before {
  background-color: #7eadd4;
}

.form-booking-btn {
  width: 458px;
  height: 58px;

  font: inherit;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.form-booking-btn:hover,
.form-booking-btn:focus {
  background-color: #669ec0;
}

.form-booking-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  height: 593px;
}

.map img {
  width: 100%;
  height: inherit;

  -o-object-fit: cover;

     object-fit: cover;
}

/* HOTELS STYLING */

.search-filters {
  margin-bottom: 30px;

  background-color: #7b8faf;
  background-image: url("../img/hotels-filters-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 6% 3px 6%;
}

.search-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

.search-form-item {
  margin: 0;
  padding: 0;
  width: 50%;

  border: none;
}

.search-form-item legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.search-filters-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-form-option {
  position: relative;

  margin-bottom: 25px;
}

.search-form-option label {
  padding-left: 40px;

  color: #ffffff;
  cursor: pointer;
}

.search-form-option label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.search-form-option input[type="checkbox"]:checked + label:before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.search-form-option input[type="checkbox"]:disabled + label:before {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 30%;

  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.filter-range legend {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 36px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-size: 14px;
  line-height: 38px;

  cursor: pointer;
}

.price-controls input {
  max-width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;
  text-align: center;

  background: none;
  border: none;
}

.price-range-slider {
  position: relative;
  margin-bottom: 32px;
}

.slider-handle-scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.price-range-bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.slider-handle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.slider-handle:hover,
.slider-handle:focus {
  width: 4px;
  height: 4px;

  border-width: 9px;
}

.slider-handle-min {
  left: 0;
}

.slider-handle-max {
  left: 80%;
}

.search-filters-btn {
  width: 133px;
  height: 32px;
  margin: auto;

  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.search-filters-btn:hover,
.search-filters-btn:focus {
  color: #000000;
  background-color: #ffffff;

  cursor: pointer;
}

.search-results h2 {
  margin: 0;
  margin-right: 50px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorter-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
  padding: 0 6%;
}

.sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sorter-label {
  margin-right: 40px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.sorter-btn {
  margin-right: 30px;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.sorter-btn:hover,
.sorter-btn:focus {
  color: #81b3d2;
}

.sorter-btn:active {
  color: #000000;
  text-decoration: none;
}

.sorter-btn-active {
  color: #81b3d2;
  text-decoration: none;
  cursor: default;
}

.sorter-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 35px;
}

.sorter-switch {
  width: 11px;
  height: 10px;
  padding-right: 23px;
}

.sorter-switch path {
  fill: #cacaca;
}

.sorter-switch-active path {
  fill: #81b3d2;
}

.sorter-switch:hover path {
  fill: #000000;
}

.sorter-switch:active path {
  fill: #81b3d2;
}

.result-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;

  list-style: none;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6%;
  min-height: 151px;

  border-top: 1px solid #e4e4e4;
}

.result-item:last-child {
  border-bottom: 1px solid #e4e4e4;
}

.result-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-item-img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.result-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result-item-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-item-description h3 {
  margin: 0;
}

.result-item-type,
.result-item-price {
  margin: 0;
  margin-right: 40px;
}

.result-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.result-item-title:hover,
.result-item-title:focus {
  color: #81b3d2;
}

.result-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.result-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;

  font-weight: 700px;
  color: #ffffff;
}

.result-btn-more {
  width: 110px;
  height: 27px;

  background-color: #7eadd4;
}

.result-btn-more:hover,
.result-btn-more:focus {
  background-color: #669ec0;
}

.result-btn-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.result-btn-book {
  width: 142px;
  height: 27px;

  background-color: #776456;
}

.result-btn-book:hover,
.result-btn-book:focus {
  background-color: #604e43;
}

.result-btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.result-item-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 90px;
}

.result-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 27px;
  margin: 0;

  color: #666666;
  background-color: #f2f2f2;
}

/* FOOTER STYLING */

.main-footer {
  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0 35px 0;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
  position: static;
  padding: 25px 0 35px 0;
}

.visitsedona {
  width: 33%;
  text-align: center;
}

.main-footer .visitsedona-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  width: 33%;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li:not(:last-child) {
  padding-right: 6px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;

  background-color: #7eadd4;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
  fill:#5496bd;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.footer-copyright b {
  margin-right: 8px;
  font-weight: 400;
  line-height: 26px;
}

.main-footer-logo:hover path,
.main-footer-logo:focus path {
  fill: #81b3d2;
}

.main-footer-logo:active path {
  fill-opacity: 0.3;
}





/* end */
